Adafruit-Blinka
adafruit-circuitpython-busdevice
adafruit-circuitpython-motor
adafruit-circuitpython-pca9685
adafruit-circuitpython-register
adafruit-circuitpython-typing
Adafruit-GPIO
Adafruit-PCA9685
Adafruit-PlatformDetect
Adafruit-PureIO
jmespath
# pkg-resources
setuptools
pyftdi
pyserial
pyusb
rpi-ws281x
RPi.GPIO
spidev
sysv-ipc
typing-extensions
numpy
